# =========================

# Python

# =========================

**pycache**/
*.pyc
*.pyo
*.pyd

# =========================

# Virtual Environment

# =========================

venv/
.env

# =========================

# Database

# =========================

tickets.db

# =========================

# IDEs

# =========================

.vscode/
.idea/

# =========================

# Streamlit

# =========================

.streamlit/

# =========================

# Operating System Files

# =========================

.DS_Store
Thumbs.db

# =========================

# Logs

# =========================

*.log
